
<h1>Edit Question</h1>

<form action="/questions/<%= @question.id %>" method="post">
  <input type="text" name="question[title]" value="<%= @question.title %>">
  <br><br>
  <input type="text" name="question[content]" value="<%= @question.content %>" size="100"></input>
  <br><br>
  <input type="hidden" name="_method" value="patch">
  <button type="submit" name="submit">Submit</button>
</form>
