<h1>What is your question?</h1>
<form action="/questions" method="post">
  <select name="question[title]">
  <select name="question[category]">
  <option value="Entertainment">Entertainment</option>
  <option value="Food">Food</option>
  <option value="Travel">Travel</option>
  <option value="Programming">Programming</option>
  <br>
  <textarea name="question[content]" cols="40" rows="10"></textarea><br>
  <input type="submit" name="Submit">
</form>
